.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.detail{
  position: fixed;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  border-right: none!important;
  border-top: none!important;
  border-bottom: none!important;
  z-index: 10;
  transition: right 0.5s linear;
}
.close-panel{
  border: none;
  background: none;
  font-size: 26px;
}

.detail.hidden{
  right: calc(0px - 30%);
}
.detail-thumbnail{
  max-width: 100%;
}